.class {
    background-color: red;
}

section,
h1,
div {
    margin: 0;
}

body{
    margin: 0;
    background-color: #f0f0f0;
}

#Cubo{
    width:100px;
    height: 100px;
    background-color: black;
    position: absolute;
    top: 200px;
    left:200px;
}