.class {
    background-color: red;
}

section,
h1,
div {
    margin: 0;
}

body{
    margin: 0;
    background-color: #f0f0f0;
}

#cubo{
    width: 50px;
    height: 50px;
    background-color: black;
    position: absolute;
    top: 200px;
    left: 200px;
}

body{
    margin: 0;
    background-color: #f0f0f0;
}

#bloco{
    width: 50px;
    height: 50px;
    background-color: black;
    position: absolute;
    top: 200px;
    left: 900px
}